{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Food Diary Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'calorie/style.css' %}">
  </head>
  <body>
    <div class="d-flex">
      <button id="toggle-btn" class="btn btn-dark m-3">☰ </button>
    </div>
    <div class="sidenav" id="sidenav">
      <h3 class="text-center text-light mb-5">Smart Food Diary</h3>
      <a href="{% url 'home' %}">🏠 Dashboard</a>
      <a href="{% url 'upload_image' %}">📷 Upload Image</a>
      <a href="{% url 'signout' %}">🚪 Logout</a>
    </div>
    <div class="content" id="content">
      {% block content %} {% endblock %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("toggle-btn");
        const sideNav = document.getElementById("sidenav");
        const content = document.getElementById("content");

        toggleButton.addEventListener("click", function () {
          sideNav.classList.toggle("open");
          content.classList.toggle("shift");
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
