{% extends 'calorie/base.html' %}
{% block content %}
<div class="container-fluid mt-3">
  <div class="dashboard-row">
    <!-- Recent Activity -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Recent Activity</h5>
          <ul class="list-group">
            <li class="list-group-item">Uploaded: {{ data.class_name }}</li>
            <li class="list-group-item">Calories Consumed: {{data.calories}} kcal</li>
          </ul>
          <a href="#activity" class="btn btn-success w-100 mt-3">View All</a>
        </div>
      </div>
    </div>

    <!-- Daily Goals -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Daily Goals</h5>
          <p>Calories: <strong>{{ daily_goal.calories }}</strong></p>
          <p>Protein: <strong>{{ daily_goal.protein }}</strong>, Carbs: <strong>{{ daily_goal.carbs }}</strong>, Fats: <strong>{{ daily_goal.fats }}</strong></p>
          <a href="{% url 'edit_daily_goals' %}" class="btn btn-primary w-100" style="margin-top: 60px;">Edit Goals</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="dashboard-row mt-5">
    <!-- Nutrition Overview -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Nutrition Overview</h5>
          <div class="chart-placeholder">
            Chart Placeholder
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
