{% extends 'calorie/base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">{{ data.class_name }} nutrition data</h5>
            <ul class="list-group">
                <li class="list-group-item"><strong>Calories:</strong> {{ data.calories }} kcal</li>
                <li class="list-group-item"><strong>Protein:</strong> {{ data.protein }} g</li>
                <li class="list-group-item"><strong>Carbohydrates:</strong> {{ data.carbs }} g</li>
                <li class="list-group-item"><strong>Fats:</strong> {{ data.fats }} g</li>
                <li class="list-group-item"><strong>Cholestrol:</strong> {{ data.cholestrol }} g</li>
                <li class="list-group-item"><strong>Iron:</strong> {{ data.iron }} mg</li>
                <li class="list-group-item"><strong>Calcium:</strong> {{ data.calcium }} mg</li>
                <li class="list-group-item"><strong>Sodium:</strong> {{ data.sodium }} mg</li>
                <li class="list-group-item"><strong>Magnesium:</strong> {{ data.magnesium }} mg</li>
                <li class="list-group-item"><strong>Phosphorus:</strong> {{ data.phosphorus }} mg</li>
                <li class="list-group-item"><strong>Zinc:</strong> {{ data.zinc }} mg</li>
                <li class="list-group-item"><strong>Vitamin B12:</strong> {{ data.vitaminb12 }} mg</li>
                <li class="list-group-item"><strong>Folic acid:</strong> {{ data.folic_acid }} mg</li>
            </ul>
            <a href="{% url 'home' %}" class="btn btn-success w-100 mt-3">Back to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
