{% extends 'calorie/base.html' %}
{% block content %}
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Upload Image</h5>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
